<ion-content>
  <ion-item>
    <ion-label><strong>Paltos:</strong></ion-label>
  </ion-item>
  <ion-item *ngFor="let plato of platos">
    <ion-label style="text-transform: uppercase;">{{ plato.nombre }}</ion-label>
    <ion-button slot="end" color="danger" (click)="eliminarPlato(plato.id)">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Mensaje si no hay platos -->
  <div *ngIf="platos.length === 0" class="ion-text-center ion-padding">
    <p>No hay platos agregados</p>
  </div>

  <!-- Botón FAB para agregar -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirModalAgregarPlato()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
