<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="events">
      <ion-icon name="albums"></ion-icon>
      Eventos
    </ion-tab-button>
    <ion-tab-button tab="foodlist">
      <ion-icon name="fast-food"></ion-icon>
      Platos
    </ion-tab-button>
    <ion-tab-button tab="worker">
      <ion-icon name="people"></ion-icon>
      Trabajadores
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
