/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";
// @import '@ionic/angular/css/palettes/dark.system.css';

ion-header {
  ion-title {
    flex: 1; /* Hace que el ion-title ocupe el espacio disponible */
    text-align: center; /* Centra el texto */
  }
}

ion-toggle{
  --padding: 10px;  
}


ion-item {
  --background: transparent; /* Quita el fondo */
  --ion-background-color: transparent; /* Alternativa si aplica */
}
ion-list {
  --background: transparent; /* Quita el fondo */
  --ion-background-color: transparent; /* Alternativa si aplica */
}
ion-card {
  --background: transparent; /* Quita el fondo */
  --ion-background-color: transparent; /* Alternativa si aplica */
}

ion-datetime{
  --background: transparent; /* Quita el fondo */
  --ion-background-color: transparent; /* Alternativa si aplica */
}


ion-list {
  --background: transparent; /* Quita el fondo del ion-list */
}

ion-list ul {
  background: transparent; /* Quita el fondo de la lista (ul) */
}

ion-list ul li {
  background: transparent; /* Quita el fondo de los elementos li */
}

ion-list {
  --background: transparent !important; /* Asegura que el fondo del ion-list sea transparente */
}

ion-item {
  --background: transparent !important; /* Quita el fondo de los ion-items */
  background: transparent !important; /* Asegura que no haya fondo adicional */
}








