.calendario {
  display: flex; /* Activa Flexbox */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100%; /* Ajusta la altura del contenedor al 100% de la pantalla */
}
